@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

@font-face {
  font-family: "Sansation Light";
  src: url("/public/Sansation Light Light.ttf");
  font-weight: 300;
}

/* global.css */

body {
  margin: 0;
  padding: 0;
  background-color: #404040;
  /* Hintergrundfarbe anpassen */
}

.global-container {
  width: var(--max-page-width);

  /* Maximale Breite der Seite anpassen */
  margin: 0 auto;
  /* Zentrierung der Seite */
}



:root {

  --max-page-width: 100%;
  /* Maximale Breite der Seite */
  --max-page-height: 1000px;
  /* Maximale Höhe der Seite */


  /* fonts */
  --font-poppins: Poppins;
  --font-manrope: Manrope;
  --font-sansation-light: "Sansation Light";
  --text-caption-caption1-roboto-regular: Roboto;

  /* font sizes */
  --font-size-2xl: 21px;
  --font-size-lg: 18px;
  --font-size-base: 16px;
  --font-size-xl: 20px;
  --font-size-3xs: 10px;
  --font-size-11xl: 30px;
  --text-caption-caption1-roboto-regular-size: 12px;
  --font-size-mid: 17px;
  --font-size-21xl: 40px;
  --font-size-6xl: 25px;
  --font-size-mini: 15px;
  --font-size-131xl: 150px;
  --text-body-body2-roboto-regular-size: 14px;

  /* Colors */
  --color-darkslategray-100: #454343;

  --color-darkslategray-200: rgba(53, 53, 53, 0.6);

  --color-white: #fff;

  --color-gray-100: #2a2a2a;

  --color-gray-200: #0b0b0b;
  --color-gray-300: rgba(255, 255, 255, 0.5);
  --color-gray-400: rgba(255, 255, 255, 0);
  --color-darkolivegreen-100: #426b1f;
  --color-darkolivegreen-200: #2b3f00;
  --color-dimgray-100: #666;
  --color-dimgray-200: #555;

  /* Border radiuses */
  --br-37xl: 56px;
  --br-xl: 20px;
  --br-21xl: 40px;
  --br-9xs: 4px;




  .page {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: var(--color-darkslategray-100);
    width: var(--max-page-width);
    /* Anpassung auf maximale Breite */
    height: var(--max-page-height);
    /* Anpassung auf maximale Höhe */
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-11xl);
    color: var(--color-white);
    font-family: var(--font-sansation-light);
  }

  .verdunklung-hintergrund-effekt {
    position: absolute;
    top: 0px;
    left: 1440px;
    background-color: var(--color-gray-100);
    width: var(--max-page-width);
    height: var(--max-page-height);
    transform: rotate(180deg);
    transform-origin: 0 0;
  }

  .png-af-it-logo-icon {
    position: relative;
    top: 165.7px;
    left: 436px;
    width: 569px;
    height: 535.6px;
    object-fit: cover;
  }

  .af-it-logo-effekt {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--color-darkslategray-200);
    backdrop-filter: blur(200px);
    width: var(--max-page-width);
    height: var(--max-page-height);
  }

  .page-hintergrund {
    position: absolute;
    top: 0px;
    left: 0px;
    width: var(--max-page-width);
    height: var(--max-page-height);
  }

  /* Ihre allgemeinen Stile */
  /* Für den Dark Mode: */
  .white-mode {
    /* Ändern Sie die Farben oder das Styling für den Dark Mode */
    /* Beispiel: */
    background-color: #fdfdfd;
    color: #ffffff;
  }

}